.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px 50px 650px 100px;
}

#navbar {
grid-column: span 5;
}

#sidebar {
  writing-mode: vertical-rl; 
  grid-column: span 1;
  grid-row: span 2;
}

#title {
  grid-row: span 1;
  grid-column: span 4;
}


#content {
  grid-row: span 1;
  grid-column: span 4;
}

#footer {
  grid-row: span 1;
  grid-column: span 5;
}
